<!doctype html>

<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="js/itemsScreen.js"></script>
   <!--<script src="js/items.js"></script>-->

   <link href="/css/items.css" rel="stylesheet" />
   
</head>

<body>
   <header id="main-header">
      <div class="container">
         <h1>
            <a class="alignleft" href="sections">🡠</a>
            <a href="#"> - </a>
            <a href="#" class="alignright"></a>
         </h1>
      </div>
   </header>

   <ul id="items">

      {{#each Sections}}
      <div id="{{sectionName}}">
         <h1>{{sectionName}}</h1>
         {{#each categories}}
         <h2 class="category">{{categoryName}}</h2>
         {{#each items}}
         <li><a href="#" class="alignleft item">{{itemName}}</a><a class="alignright">{{expiration}}</a></li>
         {{/each}}
         {{/each}}
      </div>
      {{/each}}

   </ul>

   <button id="addCatbtn">New Category</button><br />
   <button id="addItembtn">+</button>

   <!--Add item popup-->
   <div id="myModal" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header class="addItem-header">Add Item</header>
         <form id="addItemForm" role="form" method="get" action="/addItem">
            <label for="itemName">Item:</label><br />
            <input type="text" placeholder="Item Name" name="itemName" /><br />
            <label for="category">Category:</label><br />
            <select name="category">
               {{#each Sections}}
               {{#each categories}}
               <option value="{{categoryName}}">{{categoryName}}</option>
               {{/each}}
               {{/each}}
            </select><br />
            <input type="hidden" name="sect" class="sect" value="" />
            <label for="expiration">Expires:</label><br />
            <input type="date" name="expiration" /><br />
            <label for="notification">Notification:</label><br />
            <input type="text" placeholder="3 Days" name="notification" /><br />
            <label for="quantity">Quantity:</label><br />
            <input type="text" placeholder="12" name="quantity" /><br />
            <label for="units">Units:</label><br />
            <input type="text" placeholder="oz" name="units" /><br />
            <label for="shared">Shared:</label><br />
            <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
            </label>
            <input type="submit" id="confirmItembtn" value="Add Item" />
         </form>
         <!--<button id="confirmItembtn">Add Item</button>-->
      </div>
   </div>

   <!--Item click popup-->
   <div id="itemClick" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header class="addItem-header" id="itemClickHeader">Edit Item</header>
         <button id="deleteItemBtn">Delete Item</button>
         <form id="addItemForm" method="get" action="/addItem">
            <label for="itemName">Item:</label><br />
            <input type="text" placeholder="Item Name" name="itemName" /><br />
            <label for="category">Category:</label><br />
            <select name="category">
               {{#each Sections}}
               {{#each categories}}
               <option value="{{categoryName}}">{{categoryName}}</option>
               {{/each}}
               {{/each}}
            </select><br />
            <label for="expiration">Expires:</label><br />
            <input type="date" name="expiration" /><br />
            <label for="notification">Notification:</label><br />
            <input type="text" placeholder="3 Days" name="notification" /><br />

            <label for="shared">Shared:</label>
            <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
            </label>
            <input type="submit" id="confirmItembtn" value="Add Item" />
         </form>
         <!--<button id="confirmItembtn">Add Item</button>-->
      </div>
   </div>

   <!--New Category popup-->
   <div id="newCat" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header class="addItem-header" id="newCat">Add Category</header>
         <form id="addCatForm" method="get" action="/addCategory">
            <label for="catName">Category:</label><br />
            <input type="text" placeholder="Category Name" name="catName" /><br />
            <input type="hidden" name="sect" class="sect" value="" />
            <input type="submit" id="addCatSubmit" value="Add Category" />
         </form>
      </div>
   </div>

   <!--Bottom nav bar-->
   <div class="container">
      <ul id="navbar">
         <li class="barli"><a href="sections" class="bar">Sections</a></li>
         <li class="barli"><a href="shoppingList" class="bar">Shopping List</a></li>
         <li class="barli"><a href="group" class="bar">Group</a></li>
      </ul>
   </div>
</body>
</html>